<div class="container">
    <mdb-card>
        <mdb-card-header>VEHICULOS</mdb-card-header>
        <mdb-card-body>
            <form class="text-center border border-light p-5" [formGroup]="formVehicle">
                <p class="h4 mb-4">Gestionar Vehiculos</p>

                <div class="form-row">
                    <div class="col">
                        <!-- owner_id -->
                        <div>
                            <label>Propietario:</label>
                            <select class="browser-default custom-select mb-2" formControlName="owner_id" [(ngModel)]="vehicle.owner_id">
                                <option value="" disabled>Choose option</option>
                                <option
                                    [value]="owner.id"
                                    *ngFor="let owner of owners"
                                >
                                    {{ owner.first_name }}
                                    {{ owner.second_name }}
                                    {{ owner.last_names }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <!-- type_id -->
                        <div>
                            <label>Tipo de Vehiculo:</label>
                            <select class="browser-default custom-select mb-2" [(ngModel)]="vehicle.type_id" formControlName="type_id">
                                <option value="" disabled>Choose option</option>
                                <option
                                    [value]="type.id"
                                    *ngFor="let type of types"
                                >
                                    {{ type.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <!-- vehicle_plate -->
                        <div>
                            <label>Placa</label>
                            <input type="text" [(ngModel)]="vehicle.vehicle_plate" class="form-control" mdbInput formControlName="vehicle_plate" />
                        </div>
                    </div>
                    <div class="col">
                        <!-- Brand -->
                        <div>
                            <label>Marca</label>
                            <input type="text" [(ngModel)]="vehicle.brand" class="form-control" mdbInput formControlName="brand" />
                        </div>
                    </div>
                    <div class="col">
                        <!-- Color -->
                        <div>
                            <label>Color</label>
                            <input type="text" [(ngModel)]="vehicle.color" class="form-control" mdbInput formControlName="color" />
                        </div>
                    </div>
                </div>

                <!-- Send button -->
                <button mdbBtn color="indigo" block="false" (click)="updateVehicle(vehicle)" [disabled]="formVehicle.invalid" *ngIf="vehicle.id != null">
                    guardar
                </button>
                <button mdbBtn color="indigo" block="false" (click)="addVehicle(vehicle)" [disabled]="formVehicle.invalid" *ngIf="vehicle.id == null">
                    agregar
                </button>
                <button mdbBtn color="indigo" block="false" (click)="limpiar()" *ngIf="vehicle.id != null">
                    limpiar
                </button>
            </form>
            <!-- Default form contact -->

            <p class="h4 mb-4 mt-4 text-center">Listado de Vehiculos</p>

            <div class="table-responsive border border-light p-5">
                <table mdbTable striped="true ">
                    <thead>
                        <tr>
                            <th *ngFor="let head of headElements" scope="col ">
                                {{ head }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol *ngFor="let vehicle of vehicles">
                            <td>
                                {{ vehicle.owner.first_name }} {{ vehicle.owner.second_name }} {{ vehicle.owner.last_names }}
                            </td>
                            <td>{{ vehicle.brand }}</td>
                            <td>{{ vehicle.color }}</td>
                            <td>{{ vehicle.type.name }}</td>

                            <td>
                                <button mdbBtn type="button" color="primary" mdbWavesEffect size="sm" (click)="showVehicleInForm(vehicle)">
                                    Editar
                                </button>
                            </td>
                            <td>
                                <button mdbBtn type="button" color="danger" mdbWavesEffect size="sm" (click)="deleteVehicle(vehicle)">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>