<div class="container">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">PRUEBA MONIHUB</a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [ngClass]="{ active:router.url == '/'}">
                    <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Asesor<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [ngClass]="{ active:router.url == '/cashier'}">
                    <a class="nav-link waves-light" routerLink="/cashier" mdbWavesEffect>Cajero</a>
                </li>

            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->
</div>
<br>

<main>
    <router-outlet></router-outlet>
</main>